.single_slider{
  height: calc(100vh - 160px);
    /* background-repeat: no-repeat; */

    background-size: cover;
    background-position: center !important;
  max-height: 660px;
}


@media screen and (max-width : 700px) {
  .single_slider{
    /* height: 170px; */
    height: calc(100vh - 170px);
    max-height: 660px;
  }
}
