<!-- WhatsApp Floating Button -->
<a
  href="https://wa.me/21627612500"
  aria-label="Buy Apiculture tools via WhatsApp"
  class="whatsapp-float"
  target="_blank"
  rel="noopener noreferrer"
>
  <i class="fa-brands fa-whatsapp whatsapp-icon"></i>
</a>

<!-- Slides (LCP element) -->
<ng-container *ngIf="slides?.length">
  <app-slides
    [slides]="slides"
    priority="high"
    ngSkipHydration
  ></app-slides>
</ng-container>

<!-- Categories -->
<ng-container *ngIf="categories.length">
  <app-categories [categories]="categories"></app-categories>
</ng-container>

<!-- Home section wrapper -->
<div class="home_section_bg">

  <!-- Nouveaux Produits -->
  <ng-container *ngIf="new_products?.length">
    <section class="product_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="section_title">Nouveaux Produits</h2>
          </div>
        </div>

        <div class="row">
          <div
            class="col-md-3 col-6"
            *ngFor="let product of new_products; trackBy: trackByProduct"
          >
            <app-product
              [product]="product"
              [key]="'_new_'"
              loading="lazy"
            ></app-product>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <!-- Best Sellers -->
  <ng-container *ngIf="best_sellers?.length">
    <section class="product_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="section_title">Meilleurs Ventes</h2>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-3 col-md-3 col-6"
            *ngFor="let product of best_sellers; trackBy: trackByProduct"
          >
            <app-product
              [product]="product"
              [key]="'_best_'"
              loading="lazy"
            ></app-product>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <!-- Packs -->
  <ng-container *ngIf="packs?.length">
    <section class="product_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="section_title">Nos Packs</h2>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-3 col-md-3 col-sm-6 col-6"
            *ngFor="let product of packs; trackBy: trackByProduct"
          >
            <app-product
              [product]="product"
              [key]="'_pack_'"
              loading="lazy"
            ></app-product>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <!-- Blog -->
  <ng-container *ngIf="articles.length">
    <section class="blog_area mb-2 pb-2">
      <div class="container">

        <div class="row">
          <div class="col-12">
            <h2 class="section_title mt-0">Blog</h2>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-3 col-md-3 col-sm-2 col-6"
            *ngFor="let article of articles; trackBy: trackByArticle"
          >
            <app-article
              [article]="article"
              loading="lazy"
            ></app-article>
          </div>
        </div>

      </div>
    </section>
  </ng-container>

</div>
