<h3>Mes commandes</h3>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Numéro de commande</th>
        <th scope="col">Date commande</th>
        <th scope="col">Montant total</th>
        <th scope="col">État</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of commandes">
        <td>{{ c.numero }}</td>

        <td>
          {{ c.created_at | date:'dd MMM yyyy HH:mm' }}
        </td>

        <td>
          {{ c.prix_ttc | number:'1.2-2' }} DT
        </td>

        <td>
          <span *ngIf="c.etat === 'nouvelle_commande'" class="success">Nouvelle commande</span>
          <span *ngIf="c.etat === 'en_cours_de_preparation'">En cours de préparation</span>
          <span *ngIf="c.etat === 'prete'">Prête</span>
          <span *ngIf="c.etat === 'en_cours_de_livraison'" class="success">En cours de livraison</span>
          <span *ngIf="c.etat === 'expidee'" class="success">Expédiée</span>
          <span *ngIf="c.etat === 'annuler'">Annulée</span>
        </td>

        <td>
          <a
            [routerLink]="['/commande', c.id]"
            class="view"
            aria-label="Voir le bon de livraison de la commande {{ c.numero }}"
          >
            Voir B.L
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
